@tailwind base;
@tailwind components;
@tailwind utilities;

/* change background to black */
body {
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .before-content-none::before {
    content: '';
  }
}

